<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:name=".data.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_white_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DPMCB"
        tools:targetApi="31">
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.DPMCB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NastaveniActivity"
            android:exported="false"
            android:theme="@style/Theme.DPMCB" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DPMCB" />
    </application>

</manifest>
