<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true"
        android:largeHeap="true"
        android:name=".data.App"
        android:allowBackup="true"
        android:icon="${logo}"
        android:label="@string/app_name"
        android:roundIcon="${logoRound}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        tools:targetApi="33">
        <activity
            android:name=".ExitActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="DPMCB spoj Deeplink">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="jaro-jaro.github.io" />
                <data android:pathPrefix="/DPMCB" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NastaveniActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver
            android:name=".ui.oblibene.widget.OblibeneWidget$Companion$Reciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/oblibene_widget_info" />
        </receiver>
    </application>

</manifest>